.App {
  text-align: center;
  background-color: #1D2A49;
  color: white;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 65px;
  background-color: #233358;
}

.App-content {
  min-height: 85vh;
}


.App-footer {
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: #1B1B1E;
  min-height: 8vh;
  font-size: 12px;
}
