#Option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Checkbox-container-color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 5px;
  padding-bottom: 0px;
}

.Checkbox-container-color > label {
  display: flex;
  align-items: stretch;
  width: 30%;
}

.Checkbox-container-color > input {
  width: 30%;
  margin: 0;
}


.ColorPalette {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 5px;
}

.ColorPalette > label {
  display: flex;
  align-items: stretch;
  width: 30%;
}

#Color-input-container {
  width: 30%;
}

#Convert {
  padding: 10px;
}

#Convert > button {
  height: 30px;
}

#hint {
  font-size: 14px;
  font-style: italic;
  display: flex;
  width: 48%;
  margin-top: 5px;
}